#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFUALT 0
#define UPPER 1
#define LOWER 2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   ESC   |    Q    |    W    |    E    |    R    |    T    |          |    Z    |    U    |    I    |    O    |    P    |    Ü    |
// |   TAB   |    A    |    S    |    D    |    F    |    G    |          |    H    |    J    |    K    |    L    |    Ö    |    Ä    |
// |  SHIFT  |    Y    |    X    |    C    |    V    |    B    |          |    N    |    M    |    ,    |    .    |    -    |    ß    |
//           |  LEFT   |  RIGHT  |  SHIFT  |BACKSPACE|   CTRL  |          |   CMD   |  SPACE  |  UPPER  |   DOWN  |    UP   |
//                                         |   ALT   |  LOWER  |          |  RETURN |  SPACE  |
            bindings = <
    &kp ESC    &kp Q    &kp W      &kp E      &kp R      &kp T             &kp Y        &kp U     &kp I     &kp O    &kp P      &kp LBKT
    &kp TAB    &kp A    &kp S      &kp D      &kp F      &kp G             &kp H        &kp J     &kp K     &kp L    &kp SEMI   &kp SQT
    &kp LSHIFT &kp Z    &kp X      &kp C      &kp V      &kp B             &kp N        &kp M     &kp COMMA &kp DOT  &kp FSLH   &mt RSHIFT MINUS
               &kp LEFT &kp RIGHT  &kp LSHIFT &kp BSPC   &kp LCTRL         &kp LGUI     &kp SPACE &mo UPPER &kp DOWN &kp UP
                                              &kp LALT   &mo LOWER         &mt RALT RET &kp BSLH
            >;  

        };

        upper_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |    =    |    /    |    (    |    )    |    |    |   BOOT  |               |   BOOT  |    7    |    8    |    9    |         |    +    |
// |    <    |    $    |    %    |    &    |    [    |    ]    |               |    *    |    4    |    5    |    6    |    #    |    Ä    |
// |    ^    |    !    |    "    |    §    |    {    |    }    |               |         |    1    |    2    |    3    |    ´    |    ß    |
//           |   LEFT  |  RIGHT  |  SHIFT  |BACKSPACE|   CTRL  |               |   CMD   |  SPACE  |  UPPER  |    0    |    .    |
//                                         |   ALT   |  LOWER  |               |  RETURN |    ´    |
            bindings = <
    &kp LS(N0)      &kp LS(N7) &kp LS(N8) &kp LS(N9) &kp LA(N7) &bootloader     &bootloader  &kp N7    &kp N8    &kp N9   &none        &kp RBKT
    &kp NON_US_BSLH &kp LS(N4) &kp LS(N5) &kp LS(N6) &kp LA(N5) &kp LA(N6)      &kp RBRC     &kp N4    &kp N5    &kp N6   &kp BSLH     &kp SQT
    &kp GRAVE       &kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LA(N8) &kp LA(N9)      &none        &kp N1    &kp N2    &kp N3   &kp EQUAL    &kp RET
                    &kp LEFT   &kp RIGHT  &kp LSHIFT &kp BSPC   &kp LCTRL       &kp LGUI     &mo SPACE &mo UPPER &kp N0   &kp DOT
                                                     &kp LALT   &mo LOWER       &mt RALT RET &kp EQUAL
            >;

        };


        lower_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   ESC   |    Q    |    W    |    E    |    R    |    T    |               |    Y    |    U    |    I    |    O    |    P    |    \    |
// |   TAB   |    A    |    S    |    D    |    F    |    G    |               |    H    |    J    |    K    |    L    |    ;    |    '    |
// |  SHIFT  |    Z    |    X    |    C    |    V    |    B    |               |    N    |    M    |    ,    |    .    |    /    |  R CTRL |
//           |   GUI   |   DEL   | RETURN  |  SPACE  | ESCAPE  |               |  RETURN |  SPACE  |   TAB   |   BSPC  |  R ALT  |
//                                         |  SPACE  | ESCAPE  |               |  RETURN |  SPACE  |
            bindings = <
    &kp GRAVE  &kp EXCL     &kp AT       &kp HASH &kp DLLR      &kp PRCNT         &kp CARET    &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR  &kp DEL
    &kp TAB    &bt BT_PRV   &bt BT_NXT   &none    &none         &reset            &kp LEFT     &kp DOWN  &kp UP    &kp RIGHT &kp MINUS &kp EQUAL
    &kp LSHIFT &kp K_VOL_DN &kp K_VOL_UP &none    &out OUT_BLE  &bootloader       &none        &none     &none     &none     &kp BSLH  &kp RET
    &kp LEFT   &kp RIGHT    &kp LSHIFT   &mo BSPC &kp LCTRL     &kp LGUI          &mo SPACE    &kp UPPER &kp N0   &kp DOT
                                                  &kp LALT      &mo LOWER         &mt RALT RET &kp BSPC
            >;

        };
    };
};
